<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Primeiro Exemplo utilizando o Twig</title>
</head>
<body>
	{% block content %}
		<h1>Utilizando o Twig</h1>
	{% endblock %}
	{% block tests %}
		<h1>Aqui ficara o Admin/Teste</h1>
	{% endblock %}
</body>
</html>